{% extends 'base.html' %}

{% block title %}Partner Login{% endblock %}

{% block content %}
<h1>Partner Login</h1>
<form method="POST" action="/partners/login/">
    {% csrf_token %}
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Login</button>
</form>
<a href="/partners/register/">Register as a new partner</a>
{% endblock %}
